html {
  min-height: 100%;
  background-color: #83eaf1;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.background-red {
  background-color: red;
}
.background-red svg {
  fill: red;
}

.background-orange {
  background-color: orange;
}
.background-orange svg {
  fill: orange;
}

.background-yellow {
  background-color: yellow;
}
.background-yellow svg {
  fill: yellow;
}

.background-green {
  background-color: #0da10d;
}
.background-green svg {
  fill: #0da10d;
}

.background-blue {
  background-color: #0975f1c5;
}
.background-blue svg {
  fill: #0975f1c5;
}

/* -------------Header component start----------- */
.app-header {
  display: flex;
  align-items: center;
}

.app-header > div {
  flex: 1 1 auto;
  display: flex;
}

.header-card {
  font-size: 30px;
  padding: 2px;
  border: 2px solid white;
  border-radius: 18px;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
  text-align: center;
}

.header-card > div {
  border-radius: 15px;
  padding: 15px 25px;
  background: white;
  color: black;
}

.app-header-user .header-card {
  font-size: 40px;
  transform: rotate(5deg);
}

.app-header-title .header-card {
  transform: rotate(-5deg);
}

@media (max-width: 450px) {
  .header-card,
  .app-header-user .header-card {
    font-size: 18px;
  }

  .app-header > div {
    margin: 0 5px;
  }
}
/* -------------Header component end----------- */

/* -------------Week component start----------- */
.week {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 15px 0;
}

@media (max-width: 450px) {
  .week {
    display: block;
    padding: 0;
  }
}

/* -------------Week component end----------- */

/* -------------Day component start----------- */
.week-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 20%;
  margin: 0 5px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  min-height: 50px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.week-day.week-day-active {
  margin: -15px 5px;
}

.week-day .week-day-active .week-day-title {
  opacity: 1;
}

.week-day-title {
  background: white;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  opacity: 75%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-task-button {
  border-radius: 15px;
  cursor: pointer;
  border: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 14px;
  width: 80%;
  align-self: center;
  text-transform: uppercase;
  background-color: white;
  opacity: 60%;
}

.add-task-button:hover {
  opacity: 100%;
}

@media (max-width: 450px) {
  .week-day.week-day {
    margin: 30px 0 0 0;
  }

  .add-task-button {
    font-size: 18px;
  }
}
/* -------------Day component end----------- */

/* -------------Task component start----------- */
.week-day-task {
  border: 2px solid white;
  border-radius: 9px;
  margin: 20px 0;
  padding: 2px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.week-day:nth-child(odd) .week-day-task:nth-child(odd) {
  transform: rotate(1deg);
}

.week-day:nth-child(odd) .week-day-task:nth-child(even) {
  transform: rotate(-1deg);
}

.week-day:nth-child(even) .week-day-task:nth-child(even) {
  transform: rotate(1deg);
}

.week-day:nth-child(even) .week-day-task:nth-child(odd) {
  transform: rotate(-1deg);
}

.week-day-task-content {
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 5px;
}

.week-day-task-image {
  width: 100px;
  margin: 10px auto;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.week-day-task-image img {
  width: 102%;
  margin: -1%;
}

.delButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

.week-day-task-content:hover .delButton {
  display: block;
}

@media (max-width: 450px) {
  .week-day-task {
    width: 70%;
    margin: 20px auto;
  }

  .week-day-task-image {
    width: 150px;
  }
}

/* -------------Task component end----------- */

/* -------------AddTaskPopap component start----------- */
.popap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popap-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  margin-top: -50px;
}

.popap-content {
  background-color: #83eaf1;
  color: black;
  padding: 15px;
  max-width: 600px;
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 9px;
  opacity: 0;
  transform: translate(0, -1000%);
  transition: all 0.8s ease 0s;
  text-align: center;
}

.popap-content h2 {
  font-weight: normal;
  margin: 10px 0;
}

.popap-content form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.popap-content input {
  padding: 7px;
  font-size: 14px;
  border-radius: 10px;
  border: grey 1px solid;
}

.popap-select-time-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.popap-visible {
  opacity: 1;
  visibility: visible;
}

.popap-visible .popap-content {
  opacity: 1;
  transform: translate(0, 0);
}

.submit-task-button {
  border-radius: 15px;
  cursor: pointer;
  border: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 14px;
  width: 80%;
  align-self: center;
  text-transform: uppercase;
  background: white;
  opacity: 60%;
}

.submit-task-button:hover {
  opacity: 100%;
}
/* -------------AddTaskPopap component end----------- */

/* -------------Carousel component start----------- */
.carousel-wrapper {
  position: relative;
  margin: 20px 0;
}

.carousel-conteiner {
  overflow: hidden;
  width: 220px;
}

.carousel-items {
  display: flex;
  align-items: center;
  width: 9999px;
  transition: all 0.8s ease 0s;
}

.carousel-svg {
  margin: 0 5px;
  width: 240px;
  height: 80px;
}

.carousel-items svg {
  width: 115px;
  height: 80px;
}

.carouser-arrow {
  position: absolute;
  top: 50%;
  font-size: 50px;
  margin-top: -35px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.carouser-arrow.carouser-arrow-disabled {
  color: lightgray;
}

.carouser-arrow-left {
  left: 0;
}

.carouser-arrow-right {
  right: 0;
}

.carouser-arrow svg {
  width: 50px;
}

/* -------------Carousel component end----------- */
